.contact{
    background-color: #080808;
    text-align: center;
}/* bg #080808
sec #131313
mai #00ffee */

.contact h2{
    margin: 0;
    color: white;
    font-size: 3.5rem;
}
.contact h2 span{
    color: #00ffee;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.contact form .input-box input, .contact form textarea{
    width: 100%;
     padding: 1.4rem;
     font-size: 1.4rem;
     color: white;
     background: #080808;
     border-radius: 2rem;
     border: 2px solid #00ffee;
     margin: 0.5rem 0;
     resize: none;
    
}

.contact form .btn{
    margin-top: 2rem;
}
