/* src/SoftwareDevelopmentBanner.css */

.banner {
  background-image: url("https://imgs.search.brave.com/N4GWMYG9sV26zlnP7bqUSE4LfK5l-OzQKWR-N3sn_EE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA3LzI0LzA1LzA1/LzM2MF9GXzcyNDA1/MDUyOV94Y0p0NEhw/MTZWZzNCTUhmNlJa/QUEzc1hRM1ZmSlF4/bC5qcGc");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* margin: 3rem 0 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
 
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}
/* src/SoftwareDevelopmentProcess.css */

.process-container {
  /* background-color: white; */
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px 20px 0;
  margin: 2rem 3rem;
  gap: 50px;
  color: white;
}

.process-container h2 {
  font-size: 2.1rem;
  font-weight: bold;
  margin: 0 3rem 20px;
  color: white;
}

.description {
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 60%;
  margin: 0 auto 20px auto;
  line-height: 1.5;
  color: white;
}

.h3 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
/* src/SoftwareDevelopmentSteps.css */

.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px 10px;
}

.steps-container .step-card {
  background-color: #00ffee;

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width:  400px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.step-card:hover {
  transform: translateY(-10px);
  background-color: white;
}

.steps-container h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: black;
}

.steps-container p {
  font-size: 1.3rem;
  line-height: 1.3;
  color: black;
}

@media (max-width: 800px) {
  .banner {
    height: 60vh;
    margin: 7rem 0 0;
  }
  .process-container {
    display: block;
  }
.banner p {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .process-container {
    margin: 1rem 0rem;
    padding: 10px 0 ;
    gap: 20px;
  }

 
  .description {
    font-size: 1.4rem;
    margin-bottom: 20px;
    max-width: 90%;
    margin: 0 auto 0px auto;
    line-height: 1.5;
    text-align: center;
  }
  .description p {
    font-weight: 0;
  }
  .h3 h3 {
    font-size: 2rem;
    margin: 10px;
  }
}
