*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins' ,sans-serif;
}


body{
  background: #080808;
  color: white;
}

@media (max-width:1285px) {
 html{
  font-size: 55%;
 }  
 .services-container{
  padding-bottom: 7rem;
  grid-template-columns: repeat(2,1fr);
  margin: 0 1rem;

 }
}
@media(max-width: 991px){
 
  .services{
    padding-bottom: 7rem;
  }
  .projact .wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  .contact form{
    flex-direction: column;
  }
  /* .contact form input {
    font-size: 5rem;
  } */
}

@media(max-width:895px){
  #menu-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    top:100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid #00ffee;
    border-bottom: 2px solid #00ffee;
    display: none;
  }
  .navbar.active{
    display: block;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }

  .home{
    flex-direction: column-reverse;
    margin: 5rem 2rem;
   
  }
  .home-content h3{
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home .home-content p{
    max-width: 600px;
    font-weight: normal;
    font-size: 12px;
    margin: 0 auto;
  }
  .home .home-img img{
    width: 66vw;
    
  }
  .projact .hader h1{
    margin-bottom: 4rem;
    font-size: 2rem;
}

 
}