.exprences {
  background-color: #131313;
  margin-top: 7rem;
  padding-top: 1rem;
}
.exprences a {
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
}

.exprences-box {
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.exprences h2 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
}
.exprences-item img {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  border: 1px solid #3c3e3e;
  /* box-shadow: 0 0 25px #00ffee; */
  cursor: pointer;
}

.exprences-wrapper {
  max-width: 40rem;
}

.exprences-item {
  width: 80vw;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #1ce1e1;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: 20px 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  color: white;
  transition: 0.2 ease-in-out;
  /* box-shadow: 0px 0px 8px 10px rgba(18, 200, 246, 0.5); */
}
.exprences-item:hover {
  box-shadow: 0px 0px 10px 15px rgba(18, 200, 246, 0.5);
}

.exprences-item h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
.exprences-item p {
  font-size: 1.1rem;
  color: white;

  text-decoration: none;
}

.gitcomponents {
  background-color: rgb(28, 28, 28);
  padding: 1rem;
}
.gitexprence {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gitexprence h2 {
  margin: 1rem;
  font-size: 3.5rem;
}
.gitexprences-item {
  width: 80vw;

  background-color: rgb(12, 12, 12);
  border-radius: 2rem;
  margin: 1.5rem 0;
  padding: 20px 30px;
  border: 1px solid aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  color: white;
  transition: 0.4 ease-in-out;
  /* box-shadow: 0px 0px 8px 10px rgba(18, 200, 246, 0.5); */
}
.gitexprences-item:hover {
  /* border: 2px solid aqua; */
  box-shadow: 0px 0px 10px 15px rgba(6, 223, 248, 0.5);
}
.gitexprences-item h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
.gitexprences-item p {
  font-size: 1rem;
  color: white;

  text-decoration: none;
}
.gitexprences-wrapper {
  max-width: 40rem;
}
.gitexprences-item img {
  width: 25rem;
  height: 25rem;
  border-radius: 1rem;
  cursor: pointer;
  animation: pulse 6s infinite;
}

.gitexprences-item a {
  text-decoration: none;
}
.gitexprences-item a p {
  /* display: none; */
  margin-top: 20px;
  font-size: 1.5rem;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* ImagePopup.css */

.thumbnail {
  width: 150px;
  height: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  width: 70%;
  height: auto;
}

.close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #10fefe;
  cursor: pointer;
}

.close:hover {
  color: black;
}

@media (max-width: 768px) {
  .exprences-item {
    flex-direction: column;
  }
  .gitexprences-item {
    flex-direction: column;
  }
}
