section{
    /* min-height: 100vh; */
    padding: 5rem 4% 5rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}
.home-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
.home span{
    color: #00ffee;

}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size:2rem;
}
.home-content h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 1.6rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
    margin-top: 4.5rem;
}
.home-img img{
    position: relative;
    /* margin-top: 2rem; */
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 35px #00ffee, 0 0 35px #00ffee;;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px #00ffee,
    0 0 25px #00ffee,
    0 0 25px #00ffee;
}

.home-content p{font-size: 0.9rem;
font-weight: 300;
line-height: 1.8;
max-height: 1000px;}

.social-icons a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height: 4rem;
    text-decoration: none;
    background: transparent;
    border: 2px solid #00ffee;
    font-size: 2rem;
    border-radius: 50%;
    color: #00ffee;
    margin: 2rem 1.5rem 1.5rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: white;
    transform: scale(1.3)translate(-2px);
    box-shadow: 0 0 15px #00ffee;
    border-color: #00ffee;
}

.btn{
    display: inline-block;
    padding: 0.7rem 2.2rem;
    background: #00ffee;
    box-shadow: 0 0 15px #00ffee;
    border-radius: 4rem;
    font-size: 1.5rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #00ffee;
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: #00ffee;
    border: 2px solid #00ffee ;
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px #00ffee;
    background-color: #00ffee;
    color: black;
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "web Developer";
    color: #00ffee;
    animation:  words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: #080808;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;

}

@keyframes cursor {
    to{
        border-left: 2px solid #00ffee;
    }
    
}

@keyframes words {
    0%,
    20%{content: "Frontend Designer";}
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
60%{content: "UI / Ux Designer";}
61%,
80%{
    content: "Web Developer";
}
81%,
100%{
    content: "software Developer";
}
    
    
}

@keyframes typing {
    10%,
    10%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{width: 0;}
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
    
    
}