.service{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.service h2{
font-size: 3.5rem;
margin :3rem  0 ;
}
.contaner{
display: flex;
justify-content: center;
align-items: center;
padding: 3rem;

}

.iconContainers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    justify-content: space-around;
  }
  .img{
    background-color: aqua;
    border: 2px solid #00ffee;
    padding: 1rem;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 600 ;
    border-radius: 1rem;
    transition: 0.4 ease-in-out;
  }

 .img:hover{
    transform: translate(-7px)scale(1);
    box-shadow: 0 0 25px #00ffee;
}
  .iconContainers  img{
    /* margin: 3rem; */
    width: 80px;
    height: 80px;
  }

  @media(max-width: 600px){
    .iconContainers{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 5rem;
      justify-content: space-around;
    }
  }